<article class="mt-1">
  <header>
    <h2>NGC Catalog with Alt/Az</h2>
  </header>

  <aside>
    <!-- Location settings -->
    <app-ngc-location (locationSettingsEvent)="applyLocation($event)"></app-ngc-location>

    <!-- Filter settings -->
    <app-ngc-filter-settings (filterSettingsEvent)="applyFilters($event)"></app-ngc-filter-settings>
  </aside>
  <!-- Shown if list could be loaded -->
  <main *ngIf="state === 0 && catalogEntries.length > 0" class="mt-4">
    <app-ngc-entry-alt-az *ngFor="let entryWithHorizontalCoordinates of catalogEntries"
                          [ngcEntryWithHorizontalCoordinates]="entryWithHorizontalCoordinates"></app-ngc-entry-alt-az>
    <nav>
      <ngb-pagination (pageChange)="changePage($event)" *ngIf="catalogEntries.length > 0"
                      [boundaryLinks]="true"
                      [collectionSize]="totalEntries"
                      [maxSize]="5"
                      [pageSize]="pageSize"
                      [page]="pageNumber" class="d-flex justify-content-center mt-1"></ngb-pagination>
    </nav>
  </main>

  <!-- No location selected (-> catalogEntries empty) -->
  <div *ngIf="state === 0 && catalogEntries.length === 0" class="jumbotron">
    <h1>Set Location</h1>
    <p>Please set the location above.</p>
  </div>

  <!-- Filter did not yield result -->
  <div *ngIf="state === 1" class="jumbotron">
    <h1>No Entries Found</h1>
    <p>Your filter settings did not yield a result.</p>
  </div>

  <!-- Other errors than 404 -->
  <div *ngIf="state === 2" class="jumbotron">
    <h1>Something went wrong</h1>
    <p>Check back later.</p>
  </div>

</article>

