<section (click)="collapse.toggle()" *ngIf="ngcEntryWithHorizontalCoordinates">
  <app-ngc-entry-title [ngcEntry]="ngcEntryWithHorizontalCoordinates.entry"></app-ngc-entry-title>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="pb-2">
    <app-ngc-horizontal-coordinates
      [horizontalCoordinates]="ngcEntryWithHorizontalCoordinates.horizontalCoordinates"></app-ngc-horizontal-coordinates>
    <app-ngc-entry-detail [ngcEntry]="ngcEntryWithHorizontalCoordinates.entry"></app-ngc-entry-detail>
  </div>
</section>
<hr>
