<div *ngIf="ngcEntry">
  <div class="row">
    <div class="col-md-3">
      Right Ascension:
    </div>
    <div class="col-md-2">
      {{ ngcEntry.equatorialCoordinates?.ra ?? "n/a" }}
    </div>
    <div class="col-md-3">
      Declination:
    </div>
    <div class="col-md-2">
      {{ ngcEntry.equatorialCoordinates?.dec ?? "n/a" }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-3">
      Major Axis:
    </div>
    <div class="col-md-2">
      {{ ngcEntry.majorAxis || "n/a" }}
    </div>
    <div class="col-md-3">
      Minor Axis:
    </div>
    <div class="col-md-2">
      {{ ngcEntry.minorAxis || "n/a" }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-3">
      Position Angle:
    </div>
    <div class="col-md-2">
      {{ ngcEntry.positionAngle || "n/a" }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-1">
      B-Mag:
    </div>
    <div class="col-md-1">
      {{ ngcEntry.bMag || "n/a" }}
    </div>

    <div class="col-md-1">
      V-Mag:
    </div>
    <div class="col-md-1">
      {{ ngcEntry.vMag || "n/a" }}
    </div>

    <div class="col-md-1">
      J-Mag:
    </div>
    <div class="col-md-1">
      {{ ngcEntry.jMag || "n/a" }}
    </div>

    <div class="col-md-1">
      H-Mag:
    </div>
    <div class="col-md-1">
      {{ ngcEntry.hMag || "n/a" }}
    </div>

    <div class="col-md-1">
      K-Mag:
    </div>
    <div class="col-md-1">
      {{ ngcEntry.kMag || "n/a" }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-4">
      Surface Brightness:
    </div>
    <div class="col-md-2">
      {{ ngcEntry.surfaceBrightness || "n/a" }}
    </div>
    <div class="col-md-3">
      Hubble
    </div>
    <div class="col-md-2">
      {{ ngcEntry.hubble || "n/a" }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-3">
      Parallax
    </div>
    <div class="col-md-2">
      {{ ngcEntry.parallax || "n/a" }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-4">
      Proper Motion RA
    </div>
    <div class="col-md-2">
      {{ ngcEntry.properMotionRA || "n/a" }}
    </div>
    <div class="col-md-4">
      Proper Motion Dec
    </div>
    <div class="col-md-2">
      {{ ngcEntry.properMotionDec || "n/a" }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-4">
      Radial Velocity:
    </div>
    <div class="col-md-2">
      {{ ngcEntry.radialVelocity || "n/a" }}
    </div>
    <div class="col-md-4">
      Redshift
    </div>
    <div class="col-md-2">
      {{ ngcEntry.redshift || "n/a" }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-2">
      Cstar U-Mag:
    </div>
    <div class="col-md-2">
      {{ ngcEntry.cstarUMag || "n/a" }}
    </div>

    <div class="col-md-2">
      Cstar B-Mag:
    </div>
    <div class="col-md-2">
      {{ ngcEntry.cstarBMag || "n/a" }}
    </div>

    <div class="col-md-2">
      Cstar V-Mag:
    </div>
    <div class="col-md-2">
      {{ ngcEntry.cstarVMag || "n/a" }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-2">
      NGC:
    </div>
    <div class="col-md-3">
      {{ ngcEntry.ngc }}
    </div>

    <div class="col-md-2">
      IC:
    </div>
    <div class="col-md-3">
      {{ ngcEntry.ic }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-4">
      Cstar Names:
    </div>
    <div class="col-md-8">
      {{ ngcEntry.cstarNames?.join(', ') }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-3">
      Identifiers:
    </div>
    <div class="col-md-9">
      {{ ngcEntry.identifiers?.join(', ') }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-3">
      NED notes:
    </div>
    <div class="col-md-9">
      {{ ngcEntry.nedNotes }}
    </div>
  </div>

  <div class="row pt-1">
    <div class="col-md-3">
      OpenNGC notes:
    </div>
    <div class="col-md-9">
      {{ ngcEntry.openNGCNotes }}
    </div>
  </div>
</div>
