<p>
  <button (click)="collapse.toggle()"
          class="btn btn-link"
          type="button">
    Filter
  </button>
</p>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="card mb-3">
  <div class="card-body">
    <h3 class="card-title">Filter Settings</h3>
    <form (ngSubmit)="applyFilter()" [formGroup]="filterForm" class="card-text">
      <div class="row">
        <fieldset class="col-md">
          <legend class="h6">Messier</legend>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="messierControl" id="filterSettingMessierIgnore"
                     name="messierControl"
                     type="radio" value="">
              <label class="form-check-label" for="filterSettingMessierIgnore">Any</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="messierControl" id="filterSettingMessierYes"
                     name="messierControl"
                     type="radio" value="true">
              <label class="form-check-label" for="filterSettingMessierYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="messierControl" id="filterSettingMessierNo"
                     name="messierControl"
                     type="radio"
                     value="false">
              <label class="form-check-label" for="filterSettingMessierNo">No</label>
            </div>
            <small class="form-text text-muted">Filter by Messier or non-Messier objects.</small>
          </div>
        </fieldset>
        <fieldset class="col-md">
          <legend class="h6">Catalog</legend>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="catalogControl" id="filterSettingsCatalogBoth"
                     name="catalogControl"
                     type="radio" value="">
              <label class="form-check-label" for="filterSettingsCatalogBoth">Both</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="catalogControl" id="filterSettingsCatalogNgc"
                     name="catalogControl"
                     type="radio" value="ngc">
              <label class="form-check-label" for="filterSettingsCatalogNgc">NGC</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="catalogControl" id="filterSettingsCatalogIc"
                     name="catalogControl"
                     type="radio"
                     value="ic">
              <label class="form-check-label" for="filterSettingsCatalogIc">IC</label>
            </div>
            <small class="form-text text-muted">Select between <em>New General Catalogue of Nebulae and Clusters of
              Stars</em> (NGC) and <em>Index Catalogues</em> (IC), or both.</small>
          </div>
        </fieldset>
        <div class="form-group col-md">
          <label for="filterSettingsConstellations">Constellations</label>
          <select class="form-control" formControlName="constellationsControl" id="filterSettingsConstellations"
                  multiple>
            <option [ngValue]="">-- Any --</option>
            <option *ngFor="let constellation of constellations"
                    [ngValue]="constellation.abbrev">{{ constellation.fullname }}</option>
          </select>
          <small class="form-text text-muted">Only show objects in these constellations.</small>
        </div>
        <div class="form-group col-md">
          <label for="filterSettingsTypes">Object Types</label>
          <select class="form-control" formControlName="typesControl" id="filterSettingsTypes"
                  multiple>
            <option [ngValue]="">-- Any --</option>
            <option *ngFor="let type of types"
                    [ngValue]="type.abbrev">{{ type.description }}</option>
          </select>
          <small class="form-text text-muted">Only show objects of these types.</small>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md">
          <label for="minVMagInput">Minimum V-Mag</label>
          <input class="form-control" formControlName="minVMagControl"
                 id="minVMagInput"
                 name="minVMagControl" step="0.1" type="number">
          <small class="form-text text-muted">Minimum V-Magnitude. Leave empty to not filter.</small>
        </div>
        <div class="form-group col-md">
          <label for="maxVMagInput">Maximum V-Mag</label>
          <input class="form-control" formControlName="maxVMagControl"
                 id="maxVMagInput"
                 name="maxVMagControl" step="0.1" type="number">
          <small class="form-text text-muted">Maximum V-Magnitude. Leave empty to not filer.</small>
        </div>
      </div>
    </form>
  </div>
</div>

